JPO_cameras.dta
build/
Windowsbuilder/JPO-Installer-0.13.exe
Windowsbuilder/JPO-Installer-0.12.exe
Windowsbuilder/Jpo.exe
jacoco.exec
report/
report.xml
.gradle
nbproject
.nbproject/
nbproject
.nb-gradle/
.idea
out
Jpo.iml
.project
bin
.settings
cache.properties
.vscode
build-dir
repo
.flatpak-builder