---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Download Linux">

{/* This is the content that will be injected into the <slot /> in Layout.astro */}
<div class="container">
    <h2>Installing JPO on Linux</h2>

    <h3>RPM based systems</h3>

    <pre>
# install the rpm
sudo rpm -Uhv https://sourceforge.net/projects/j-po/files/jpo-0.18-1.x86_64.rpm

# run the program from /usr/bin/JPO
JPO
</pre>


    <h3>Debian like systems</h3>

    <pre>
# install the deb
wget https://sourceforge.net/projects/j-po/files/jpo_0.18-1_amd64.deb
su -
dpkg -i jpo_0.18-1_amd64.deb

# run the program from /usr/bin/JPO
JPO
</pre>


    <p>You can run JPO with Flatpak. First you need to install Flatpak for your distro.</p>
    <p>Next you install JPO with flatpack:</p>
    <pre>
flatpak --user install https://j-po.sourceforge.io/io.sourceforge.j-po.flatpakref

# to list your flatpak programs
flatpak list

# to uninstall
flatpak uninstall io.sourceforge.j-po
    </pre>

    <p>JPO should now show up in your application menu and possibly your desktop with its icon.
    On Ubuntu 18.0 and Debian It showed up only after a reboot. On OpenSuse it showed up right away.
    If you are impatient you can run it from the command line:
    </p>
    <pre>
flatpak run io.sourceforge.j-po
    </pre>

    <hr>
    <p>Last update to this page: 23 May 2024<br>
        Copyright 2003-2024 by Richard Eigenmann, Z&uuml;rich, Switzerland</p>
</div>

</Layout>