---
import Layout from "../layouts/Layout.astro";
---

<Layout title="JPO - Java Picture Organizer">

    <img src="JPO_MainPage.png" alt="JPO Main Application Screenshot" />

    <p>
      JPO is a program that helps you organise your digital pictures by putting
      them in collections. There you can browse the pictures, skip through the
      thumbnails, share them by email or generate a website. A powerful picture
      viewer allows you to see the pictures full screen with simple Zoom-in and
      Zoom-out with the left and right mouse buttons.
    </p>

    <p>
      A fundamental design principle is that JPO doesn't mess with your
      pictures. They stay unchanged on your disk unless you ask JPO to move them
      somewhere or to delete them.
    </p>

    <p>
      JPO is not a photo editing application. There are many excellent packages
      out there with which you can touch up your pictures. You can make JPO open
      such a program for you.
    </p>

    <p>
      Richard Eigenmann from Z&uuml;rich has spent the last 21 years building
      and improving JPO as an OpenSource project. He hopes you will find it
      useful and enjoys feedback.
    </p>

    <hr />
    <h3>Features</h3>
    <ul>
      <li>Quickly Organize digital images into collections and groups</li>
      <li>Creates web pages from your collection</li>
      <li>
        Download pictures from Camera with the ability to load only the new ones
      </li>
      <li>Send rescaled images and originals via email</li>
      <li>View pictures as a slide show</li>
      <li>Simple zoom-in and zoom-out with left / right mouse buttons</li>
      <li>Rotation on the fly without modifying the original image</li>
      <li>Browse image thumbnails</li>
      <li>Automatically advancing slide shows</li>
      <li>Captures metadata and has search features</li>
      <li>Displays EXIF and IPTC metadata</li>
      <li>Export to directory facility to share via e-mail or CD-ROM</li>
      <li>Open XML data structures</li>
      <li>Pure Java, no native libraries</li>
      <li>Runs on Windows, Linux and Mac OS, anywhere Java runs</li>
      <li>No Databases</li>
      <li>Runs locally without a browser</li>
      <li>Can call up outside applications</li>
      <li>Leaves your pictures where they are</li>
      <li>Can move pictures to new locations to tidy up</li>
      <li>Doesn't modify your original pictures</li>
      <li>Open source license</li>
    </ul>

    <hr />
    <h3>Reviews</h3>
    <p>
      I was totally amazed when I discovered that people were writing reviews
      about JPO and positive reviews at that!
    </p>
    <p>
      The Agfanet review is no longer online but an archived version can be read
      <a
        href="http://web.archive.org/web/20040530180350/http://www.agfanet.com.isp.de/en/cafe/softreview/cont_softreview.php3?id=257&archive=yes"
        >here.</a
      >
    </p>

    <hr />
    <span class="para-heading" id="Techdes">Technical description</span>
    <p>
      The Java Picture Organizer application is a platform independent image
      organisation tool that lets a user build collections of images that they
      can then search, browse, show and share with others. An HTML export
      facility is available that allows web pages to be built from collections.
      JPO uses an open XML file format to store collection information. Picture
      groups can be exported to a directory for backups and sharing by other
      means. JPO supports a large amount of picture formats.
    </p>

    <hr />
    <h3>Do you like JPO?</h3>
    <p>
      Why don't you let the author know? Send him an encouraging email at <a
        href="mailto:richard.eigenmann@gmail.com"
        >richard.eigenmann@gmail.com</a>
    </p>
    <hr />

    <p>
      Last update to this page: 17 September 2025<br />
      Copyright 2003-2025 by Richard Eigenmann, Z&uuml;rich, Switzerland
    </p>
</Layout>

<style>
  img {
    padding: 1rem;
    margin-bottom: 2rem;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  p { padding-left: 1rem; }
</style>
