---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Netbeans">
  <div class="container">
    <h2>Developing JPO with Netbeans</h2>

    <p>Ensure you have Netbeans set up:</p>
    <ul>
      <li>
        Have you downloaded JDK 17? <a
          href="https://www.oracle.com/technetwork/java/javase/downloads/index.html"
          >Oracle Java SDK</a>
      </li>
      <li>
        Have you installed Netbeans does it start up? <a
          href="https://netbeans.org/">https://netbeans.org/</a
        > Like Version 11.2?
      </li>
      <li>
        Have you got Gradle installed? <a href="https://gradle.org/install"
          >https://gradle.org/install</a
        > Use SDKMan for Linux, follow the "Installing manually" for Windows
      </li>
    </ul>

    <p>
      Check that Netbeans is using the correct version of Gradle by opening
      Tools > Options > Java > Gradle > Execution . The Gradle Distribution
      should be Custom and point at your Gradle directory i.e.
      C:\Gradle\gradle-6.0.1 (knowing that the gradle.exe is actually in
      C:\Gradle\gradle-6.0.1\bin\gradle.exe)
    </p>

    <p>On the menu pick Team > Git > Clone</p>

    <p>
      Enter the URL <code>https://github.com/richardeigenmann/JPO.git</code> and
      click Next
    </p>

    <p>Pick the branch "master" > Next > Finish</p>

    <p>
      To run the application, expand the JPO project in the left panel and click
      on the green build.gradle item. In the Navigator panel underneath the
      various Gradle tasks will appear. Click on Build > run to launch the app.
    </p>

    <hr />
    <p>
      Last update to this page: 23 May 2024<br />
      Copyright 2003-2025 by Richard Eigenmann, Z&uuml;rich, Switzerland
    </p>
  </div>
</Layout>
