---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Windows">
  <div class="container">
    <h2>Developing JPO on Windows</h2>

    <h3>Optional: Install a Windows Virtual Machine</h3>

    <p>
      If you are mainly on Linux or if you want a clean development machine you
      can download a temporary Windows 10 virtual machine image from Microsoft
      here:
      <a
        href="https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/"
        >https://developer.microsoft.com/en-us/windows/downloads/virtual-machines/</a>
    </p>

    <p>Give the VM plenty of Ram and CPU cores.</p>

    <h3>Set up the Development Environment</h3>
    <p>
      Download and install Git from: <a href="https://git-scm.com/download"
        >https://git-scm.com/download</a>
    </p>
    <p>
      Download and install IntelliJ IDEA Community Edition: <a
        href="https://www.jetbrains.com/idea/download/#section=windows"
        >https://www.jetbrains.com/idea/download/#section=windows</a>
    </p>
    <p>
      Download and install OpenJDK 18: <a href="http://jdk.java.net/15/"
        >http://jdk.java.net/18/</a
      > Open the zip and extract the files to c:\Program Files\
    </p>
    <p>
      Download and install Wix: <a href="https://wixtoolset.org/releases/"
        >https://wixtoolset.org/releases/</a
      >
      Wix helps jpackage create a Windows installer file
    </p>

    <h3>Get the project into IntelliJ</h3>
    <p>Start up Intellij IDEA. Leave all the defaults as-is.</p>
    <p>
      You land on a "Welcome to IntelliJ IDEA" screen. Click on "Get from
      Version Control"
    </p>
    <p>
      Enter the URL <code>https://github.com/richardeigenmann/JPO.git</code> and
      click Clone
    </p>
    <p>
      A red exclamation mark will show up on "Event" because git is not found.
      Click on "Configure...". In the field "Path to Git executable" type
      "C:\Program Files\Git\bin\git.exe" You installed it there in the first
      step above
    </p>

    <p>Now try to do the cloning again.</p>

    <p>
      Confirm "You have checked out and IntelliJ IDEA project file... Open it."
    </p>
    <p>
      Note that the code was checked out to <code
        >c:\Users\User\IdeaProjects\JPO</code
      > if you didn't change anything.
    </p>

    <p>
      Open Settings and Add SDK for JDK17. File > Project Structure > Project
      SDK > New > C:\Program Files\jdk-17
    </p>
    <p>
      The Gradle build system installs itself. Also you want to allow OpenJDK to
      have access to the Networks
    </p>
    <p>
      On the right margin you have a tab "Gradle" which gives you access to the
      tasks"
    </p>
    <p>
      Pick JPO > Tasks > build > build and it should download dependencies,
      compile and run the tests.
    </p>
    <p>
      To run the project go to the Gradle Tasks Window click JPO > build > run.

      <h3>Create a windows installable package</h3>
      <p>Updated in 2024 to use jpackage.</p>
      <p>
        Run the Gradle Jpo > Tasks > build > signjar task which will create the
        build/libs/Jpo-all.jar file
      </p>
      <p>
        Next run the jpackage command from the command line:<p>
          <code>
            "c:\Program Files (x86)\jdk-21.0.1\bin\jpackage" ^ --type exe ^
            --input . ^ --name JPO ^ --description "Java Picture Organizer" ^
            --vendor "Richard Eigenmann" ^ --app-version 0.21 ^ --main-jar
            build/libs/Jpo-all.jar ^ --icon web/favicon.ico ^ --java-options
            '--enable-preview' ^ --win-shortcut ^ --win-menu ^ --verbose ^
            --dest build\executables\
          </code>

          <hr />
          <p>
            Last update to this page: 3 Mar 2024<br />
            Copyright 2003-2025 by Richard Eigenmann, Z&uuml;rich, Switzerland
          </p>
        </p>
      </p>
    </p>
  </div></Layout
>
