table {
    border-spacing: 0;
    border-collapse: separate;
}

th {
    background-color: #97a4da;
    height: 120px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 2.5em;
}

td {
    padding: 10px;
}

.para-heading {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.8em;
}

#navbar {
    background-color: #97a4da;
    vertical-align: top;
    line-height: 140%;
    width: 190px;
}

.navbar-strong {
    font-weight: bold;
    font-size: 1.4em;
}

.highlightFont {
    color: rgb(44, 92, 241);
    font-family: sans-serif;
    font-weight: bold;
}

.changelog td {
    padding: 0;
}